:root {
  --color-yellow: #ffcc4a;
  --color-green: #4eaf4e;
  --color-black: #151515;
  --color-dark: rgba(27, 27, 27, 0.91);
  --color-gray: #ebebeb;
  --color-white: #fff;
}

body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.heading {
  font-family: "Cabin", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  border: 2px solid red;
}
.header {
  background-color: var(--color-dark);
  padding: 40px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.header__logo {
  font-size: 30px;
  color: var(--color-white);
}

.logo {
  display: flex;
  column-gap: 11px;
}

.nav__menu {
  display: flex;
  gap: 10px 30px;
  flex-wrap: wrap;
}
.nav__link {
  color: var(--color-white);
  font-size: 17.728px;
}
.action-button {
  background-color: var(--color-white);
  border-radius: 42px;
  display: inline-flex;
  align-items: center;
  padding: 8px 41px 8px 10px;
  column-gap: 11px;
  color: var(--color-dark);
}

.hero {
  background-color: var(--color-gray);
}

.hero__info {
  max-width: 508px;
}

.label {
  text-transform: uppercase;
  letter-spacing: 2.32px;
  line-height: 147.5%;
  border-radius: 20px;
  padding: 0px 11px;
}
.label_yellow {
  background-color: var(--color-yellow);
}
.hero__label {
  display: inline-block;
  margin-bottom: 19px;
}

.hero__heading {
  font-size: 50px;
}

.hero__text {
  margin-top: 20px;
  margin-bottom: 29px;
}

.hero__row {
  display: flex;
  gap: 140px;
  align-items: center;
  flex-wrap: wrap;
}
.hero__image {
  width: 20%;
}

.advantages {
  position: relative;
  top: -100px;
  left: 0px;
}
.advantages__row {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.advantages-card {
  border-radius: 20px;
  padding: 48px;
  padding-top: 237px;
  width: 388px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.advantages__heading {
  font-size: 25px;
}

.advantages__text {
  margin-top: 10px;
  margin-bottom: 15px;
}

.advantages__link {
  padding: 16px 31px;
  border-radius: 55px;
  display: inline-block;
  color: var(--color-black);
  font-weight: bold;
}

.advantages__card-services {
  background-image: url(img/4dc86697b5d8dd7eec545c6efa3ceff8.png);
}
.advantages__card-approach {
  background-image: url(img/Photo1232.png);
}
.advantages__card-solution {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.advantages__link_white {
  background-color: var(--color-white);
}
.advantages__link_black {
  background-color: var(--color-black);
  color: var(--color-white);
}

.advantages-card__icons {
  transform: rotate(-15deg);
  position: absolute;
  top: 0;
  left: 0;
}
.advantages-card__icon-1 {
  transform: rotate(30deg) translate(-60px, -20px);
}
.advantages-card__icon-2 {
  transform: rotate(0deg) translate(140px, -10px) scale(0.5);
}
.advantages-card__icon-3 {
  transform: rotate(50deg) translate(140px, -10px);
}
.advantages-card__icon-4 {
  transform: rotate(10deg) translate(-60px, -10px);
}
.advantages-card__icon-5 {
  transform: rotate(40deg) translate(60px, 20px);
}
.advantages-card__icon-6 {
  transform: rotate(10deg) translate(-160px, 120px);
}
.advantages-card__icon-0 {
  transform: rotate(0deg) translate(20px, 70px);
}
.advantages-card__heading {
  font-size: 150px;
  position: absolute;
  -webkit-text-stroke: 2px var(--color-black);
  font-weight: normal;
  color: transparent;
}
